<div class="app">
    <div class="menu-page">
        {{> Menu }}
        <div class="error-page-container">
            <div class="error-page-box">
                {{> Text class="error-page-text" text="404" }}
                <h2>Не туда попали</h2>
                {{> Link href="#" class="footer-link" data-page="chats" text="Назад к чатам" }}
            </div>
        </div>
    </div>
</div>
