<div class="app">
    <div class="menu-page">
        {{> Menu }}
        <div class="menu-page-content">
            <div class="chats-box">
                <div class="chats-sidebar">
                    <p class="chat-list-header">
                        {{> Button id="edit-profile" class="navigation-button" text="Профиль >"}}
                        {{> Input id="chat-search" class="chat-list-search-unput" value=chat_search_value type="search" placeholder="🔎 Поиск" }}
                        <div class="chat-list-item-separator">
                        </div>
                    </p>
                    <nav>
                        <ul class="chat-list">
                            {{#each chats}}
                                {{#if (equals this ../active_chat)}}
                                    {{> ChatListItemBlock chatId=this.chatId party=this.party date=this.date preview=this.preview newMessages=this.newMessages active=true }}
                                {{else}}
                                    {{> ChatListItemBlock chatId=this.chatId party=this.party date=this.date preview=this.preview newMessages=this.newMessages }}
                                {{/if}}
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                
                <div class="chats-chat-content" id="chat-content">
                    {{#unless (defined active_chat)}}
                        <div class="chat-content-placeholder">
                            {{> Text text="Выберите чат, чтобы отправить сообщение" }}
                        </div>
                    {{else}}
                        {{> ChatContentBlock chat=active_chat }}
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>
