<div class="app">
    <div class="menu-page">
        {{> Menu }}
        <div class="menu-page-content">
    <div class="chats-box">
        <div class="chats-sidebar">
            <nav>
                <ul class="chat-list">
                    {{#each chats}}
                        {{> ChatListItemBlock id=this.id party=this.party date=this.date preview=this.preview newMessages=this.newMessages }}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="chats-chat-content" id="chat-content">
        </div>
    </div>
        </div>
    </div>
</div>
