<div class="app">
    <h1>Test page</h1>
    <div class="questionnaire">
        {{#each questions}}
            <div class="question">
                <p>{{this}}</p>
                {{> Select id=(concat "answer-" @index) options=../answerOptions}}
            </div>
        {{/each}}
        {{> Button id="submit-answers" text="Submit answers"}}
    </div>
    {{> Footer}}
</div>