<div class="app">
    <div class="login-signup-box">
        <h2>Вход</h2>
        <form id="login-form">
            {{> LoginSignupInputBlock id="login" type="text" value=login caption="Логин" placeholder="Логин" error="Здесь могла бы быть ужасная ошибка" }}
            {{> LoginSignupInputBlock id="password" type="password" caption="Пароль" placeholder="Пароль" }}
            <div class="button-stack">
                {{!-- {{> Button id="btn-login" text="Войти"}} --}}
                {{> Input id="btn-login" type="submit" value="Войти" class="button" }}
                {{> Link href="#" class="footer-link" data-page="signup" text="Нет аккаунта?" }}
            </div>
        </form>
    </div>
    {{> Footer}}
</div>
