<div class="app">
    <h1>Create Questionnaire</h1>
    <div class="create-questionnaire">
        {{> Input id="question-input" type="text" placeholder="Enter question" class="input"}}
        {{> Button id="add-question" text="Add Question"}}
        <p>Questions: {{questions.length}}/20</p>
        {{#if questions.length}}
            <ul>
                {{#each questions}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
        {{> Button id="create-questionnaire" text="Create Questionnaire" disabled=createButtonEnabled }}
    </div>
    {{> Footer}}
</div>
